{% extends "phphost/base.html" %}
{% block content %}
<h2>Administrace PHPhost</h2>
{#<p>Domény musí směřovat na IP <strong>37.157.193.237</strong>. Proto nastavte A záznam na tuto IP. Dále je třeba nacílit všechny subdomény <strong>*</strong> pomocí CNAME na <strong>vasedomana.cz</strong>.</p>#}
{% endblock content %}