{% extends "phphost/base.html" %}
{% block content %}
<div class="row-fluid">
    <div class="span12">
        {% for type, text in messages %}
            <div class="alert alert-{{ type }}">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {{ text|safe }}
            </div>
        {% endfor %}
              <h2>Doména {{hosting.domain}}</h2>
            </div><!--/span-->
          </div><!--/row-->
          <div class="row-fluid">
            <div class="span4">
              <h3>Info</h3>
              <table class="table">
                <tr>
                    <th>DNS</th>
                    <td>
                        {{hosting.domain}} A {{hosting.server.ip}}
                        <br>*.{{hosting.domain}} CNAME {{hosting.domain}}
                    </td>
                </tr>
                <tr>
                    <th>URL</th>
                    <td><a href="http://{{hosting.domain}}" target="blank">{{hosting.domain}}</a></td>
                </tr>
                <tr>
                    <th></th>
                    <td><a href="{{ hosting.get_php_my_admin_url }}" target="blank">phpMyAdmin</a></td>
                </tr>
              </table>
            </div><!--/span-->
            <div class="span4">
              <h3>FTP</h3>
              <table class="table">
                <tr>
                    <th>jméno</th>
                    <td>{{hosting.get_ftp_user}}</td>
                </tr>
                <tr>
                    <th>server</th>
                    <td>{{hosting.get_ftp_server}}</td>
                </tr>
                <tr>
                    <th>heslo</th>
                    <td><form action="{%url "phphost.dashboard.hosting.set_ftp_passwd" hosting.domain %}" method="post">{% csrf_token %}<input type="text" name="passwd" style="width:120px;margin:0;"> <input type="submit" value="nastavit"></form></td>
                </tr>
              </table>
            </div><!--/span-->
            <div class="span4">
              <h3>MySQL</h3>
              <table class="table">
                <tr>
                    <th>jméno</th>
                    <td>{{hosting.get_mysql_user}}</td>
                </tr>
                <tr>
                    <th>server</th>
                    <td>{{hosting.get_mysql_server}}</td>
                </tr>
                <tr>
                    <th>heslo</th>
                    <td><form action="{%url "phphost.dashboard.hosting.set_mysql_passwd" hosting.domain %}" method="post">{% csrf_token %}<input type="text" name="passwd" style="width:120px;margin:0;"> <input type="submit" value="nastavit"></form></td>
                </tr>
              </table>
                <h4>Vytvorit databazi</h4>
                <form action="{%url "phphost.dashboard.hosting.create_mysql_db" hosting.domain %}" method="post">
                    {% csrf_token %}
                    {{ hosting.get_mysql_user }}_<input type="text" name="suffix" style="width:120px;margin:0;">
                    <input type="submit" value="vytvorit">
                </form>
            </div><!--/span-->
          </div><!--/row-->
{% endblock content %}