{% extends "base.html" %}
{% load i18n %}
{% block container %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Přihlásit se' %}">
    </form>
    <p style="margin-top: 10px"><a href="{% url 'password_reset' %}">Password reset</a></p>
{% endblock container %}
