{% extends 'base.html' %}
{% load i18n %}
{% block container %}
    <h2>Reset hesla</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Odeslat' %}">
    </form>
{% endblock container %}
