{% extends "base.html" %}
{%block body%}
    <!-- START PAGE -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">PHPhost.cz 2.0</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              <strong>{{request.user.username}}</strong> ({{ request.user.email }})
            </p>
            <ul class="nav">
              <li><a href="{% url "phphost.dashboard.home" %}">Home</a></li>
              <li><a href="{% url "phphost.dashboard.hosting.add" %}" >Přidat hosting</a></li>
              <li><a href="{% url 'password_reset' %}" target="_blank">Reset hesla</a></li>
              <li><a href="/logout/" class="navbar-link">Odhlásit se</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid" id="container">
      {% block base_content %}
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Domény</li>
              {% for obj in request.user.hosting_set.all %}
              <li><!--  class="active" --><a href="{% url "phphost.dashboard.hosting" obj.domain %}">{{obj.domain}}</a></li>
              {%endfor%}
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          {% block content %}

          {% endblock content %}
        </div><!--/span-->
      </div><!--/row-->
      {% endblock base_content %}
      <hr>

      <footer>
        <p>2012 - {% now "Y" %} &copy; PHPhost.cz</p>
      </footer>

    </div><!--/.fluid-container-->

    {%endblock body%}