{% extends "base.html" %}

{%block body%}
<p style="text-align: center; padding-top: 50px; font-size: 40px;">
    <a href="/dashboard" >Administrace</a> | <a href="/registration" >Registrace</a> | 2012 - {% now "Y" %} &copy; PHPhost.cz
</p>
{%endblock body%}
{%block body2%}
<style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
    </style>
<div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <!-- <li class="active"><a href="#">Home</a></li> -->
          <li><a href="/dashboard">Administrace</a></li>
          <!-- <li><a href="#">Contact</a></li> -->
        </ul>
        <h3 class="muted">PHPhost.cz</h3>
      </div>

      <hr>

      <!-- <div class="jumbotron">
        <h1>PHP hosting pro každého!</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <a class="btn btn-large btn-success" href="#">Sign up today</a>
      </div> -->
      <div class="row-fluid">
        <div class="span12">
            <div style="text-align:center;">
                <h1>PHP hosting pro každého!</h1>
                <p style="font-size:20px;">PHP5, MySQL5, Nette, WordPress, Joomla, Magento, phpMyAdmin, ...</p>
            </div>
        </div>
      </div>


      <hr>

      <div class="row-fluid">
{#        <div class="span12">#}
{#          <h2>Ceník</h2>#}
{#          <table class="table">#}
{#                <tr>#}
{#                    <th>Název</th>#}
{#                    <th>Cena</th>#}
{#                    <th>Prostor</th>#}
{#                    <th>Počet DB</th>#}
{#                    <th>Domény</th>#}
{#                    <th></th>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>Basic</td>#}
{#                    <td>399 Kč / rok</td>#}
{#                    <td>100 MB</td>#}
{#                    <td>neomezeně</td>#}
{#                    <td>neomezeně</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>Standard</td>#}
{#                    <td>499 Kč / rok</td>#}
{#                    <td>500 MB</td>#}
{#                    <td>neomezeně</td>#}
{#                    <td>neomezeně</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>Pro</td>#}
{#                    <td>599 Kč / rok</td>#}
{#                    <td>1 000 MB</td>#}
{#                    <td>neomezeně</td>#}
{#                    <td>neomezeně</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>Unlimit</td>#}
{#                    <td>999 Kč / rok</td>#}
{#                    <td>2 000 MB</td>#}
{#                    <td>neomezeně</td>#}
{#                    <td>neomezeně</td>#}
{#                </tr>#}
{#            </table>#}
{#        </div>#}
{#      </div>#}

      <hr>

      <div class="footer">
        <p>2012 - {% now "Y" %} &copy; PHPhost.cz</p>
      </div>

    </div> <!-- /container -->
{%endblock body2%}