<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>PHPhost.cz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/static/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style>
    </style>
    <link href="/static/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<style type="text/css">
  @media (min-width: 970px ){
    #container {
        margin-top:60px; }
}
    </style>
  </head>

  <body>
    {%block body%}
    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }

      .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }

    </style>
        {% block extrahead %}
        {% endblock extrahead %}
    <div class="container">

      <div class="form-signin">
    {%block content%}
        <div>
        <h1>PHPHost.cz</h1>
        {% block container %}
        {% endblock container %}
        <a href="/">Hlavní strana</a>
        <a href="/dashboard">Administrace</a>
        <a href="/registration">Registrace</a>
        <hr>
        <p>2012 - {% now 'Y' %} &copy; PHPhost.cz</p>
        </div>
    {%endblock content%}
    </div>
    </div> <!-- /container -->
    {%endblock body%}

    <!-- END PAGE -->
    <script src="/static/static/bootstrap/js/jquery.js"></script>
    <script src="/static/static/bootstrap/js/bootstrap-transition.js"></script>
    <script src="/static/static/bootstrap/js/bootstrap-alert.js"></script>
    <script src="/static/static/bootstrap/js/bootstrap-modal.js"></script>
    <script src="/static/static/bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="/static/static/bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="/static/static/bootstrap/js/bootstrap-tab.js"></script>
    <script src="/static/static/bootstrap/js/bootstrap-popover.js"></script>
    <script src="/static/static/bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="/static/static/bootstrap/js/bootstrap-button.js"></script>
    <script src="/static/static/bootstrap/js/bootstrap-collapse.js"></script>
    <script src="/static/static/bootstrap/js/bootstrap-carousel.js"></script>
    <script src="/static/static/bootstrap/js/bootstrap-typeahead.js"></script>
  </body>
</html>
