{% extends "base.html" %}
{% load i18n %}
{% block extrahead %}
    <style>
    .form-signin {
        width: 800px;
        max-width: 800px;
    }
    </style>
{% endblock extrahead %}
{% block container %}
    <h1>Registrace probehla uspesne</h1>
    <p>Pokracujte do <a href="/dashboard">administrace</a></p>
{% endblock container %}
