{% extends "base.html" %}
{% load i18n %}
{% block extrahead %}
    <style>
    .form-signin {
        width: 800px;
        max-width: 800px;
    }
    </style>
{% endblock extrahead %}
{% block container %}
    <h1>Registrace</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Registrovat se' %}">
    </form>
{% endblock container %}
